.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.divider {
    color: var(--divider);
}

.dark {
    color: var(--dark);
}

.divider {
    width: 100%;
    height: 3px;
    background-color: var(--primary);
}

.grey {
    background-color: var(--secondary);
}