:root {
    --primary: #000000;
    --secondary:#797979;
    --light:#f0fcfb;
    --dark:#00191f;
    --error: orangered;
    --divider:#a00000;
    --text-color: #111;
    --font-family: 'Nunito', sans-serif;
    --box-shadow: 1px 1px #333;
}