:root {
    --primary: #0081d6;
    --secondary:#009921;
    --light:#f0fcfb;
    --dark:#00191f;
    --error: orangered;
    --divider:#ff4a4a;
    --text-color: #111;
    --font-family: 'Nunito', sans-serif;
    --box-shadow: 1px 1px #333;
}