.container {
  width: 1000px;
  min-height: 100vh;
  .last {
    border: solid 1px var(--primary);
    box-shadow: 0 1px 3px 1px #999;
    padding: 20px;
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 38px;
    }
    h3 {
      font-size: 26px;
    }
    p {
      font-size: 22px;
    }
  }
  .group {
    flex-wrap: wrap;
    .oneNews {
      padding: 20px;
      width: 50%;
      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

.news {
  position: sticky;
  top: 50px;
  width: 300px;
  padding: 0 10px;
  margin: 0 10px;
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 12px;
    margin: 5px 0;
  }
  .page {
    li {
      a {
        padding: 0 6px;
        border: 1px solid var(--primary);
      }
    }
  }
}
