.container {
  width: 850px;
  min-height: 100vh;
  border-right: 1px solid #999;
  box-shadow: 1px 0 5px 2px #999;
  .last {
    border-radius: 5px;
    box-shadow: 0 0 5px 1px var(--divider);
    padding: 20px;
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 38px;
    }
    h3 {
      font-size: 26px;
    }
    p {
      font-size: 22px;
    }
  }
  .group {
    flex-wrap: wrap;
    .oneNews {
      transition: 0.15s;
      margin: 10px;
      width: 47%;
      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 18px;
      }
      &:hover {
        border-radius: 5px;
        box-shadow: 0 0 5px 1px var(--divider);
        transition: 0.15s;
        transform: scale(1.01);
      }
    }
  }
}

.news {
  position: sticky;
  top: 50px;
  width: 300px;
  height: 350px;
  padding: 0 10px;
  margin: 0 10px;
  .sidebar {
    .sbarnews {
      transition: 0.15s;
      padding: 0 10px;
      h2 {
        font-size: 18px;
      }
      h4 {
        font-size: 12px;
        margin: 5px 0;
      }
      .page {
        li {
          a {
            padding: 0 6px;
            border: 1px solid var(--primary);
          }
        }
      }
      &:hover {
        transition: 0.15s;
        border-radius: 5px;
        box-shadow: 0 0 5px 1px var(--divider);
        transform: scale(1.01);
      }
    }
  }
}
